h1 {color: pink;
font-family: 'Spicy Rice', cursive;
font-size: 100px;
border: solid purple;
width: 30%;
text-align: center;}

h2 {color: orange;
font-family: 'Baloo Bhaijaan', cursive;
font-size: 75px;}
